@import '../tools/breakpoints.styl'

.content
    width 980px
    margin 0 auto
    @media screen and (max-width: $large-tablet)
        width 600px
        margin 0 auto
    @media screen and (max-width: $large-tablet)
        width 100vw
        padding-left 10px
        padding-right 10px
        margin 0 auto