.navigation__meteo
    height 30px
    width 50vw
    display inline-block
    position relative

    float left

.navigation__liveView
    height 30px
    width 50vw
    display inline-block
    position relative

    background #CECECE

.navigation__title
    position absolute
    left 50%
    top 50%
    transform translateX(-50%) translateY(-50%)
    margin 0 auto

.navigation__meteoIcon
    width 10px
    height 10px
    margin-top 4px
    margin-right 5px
    display inline-block

    float left

.navigation__liveViewIcon
    width 15px
    height 10px
    margin-top 3px
    margin-right 5px
    display inline-block

    float left

.navigation__titleName
    display inline